{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'style/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/mdb.dark.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/style.css' %}" rel="stylesheet">

    <title>Products</title>
</head>

<body class="bg-color text-color">
<nav class="navbar navbar-expand-lg navbar-light bg-btn-color">
    <div class="container">
        <a class="navbar-brand" href="/">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="24px" height="24px" viewBox="0 0 999.000000 999.000000"
                 preserveAspectRatio="xMidYMid meet" class="logo-svg">
                <g transform="translate(0.000000,999.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none" class="logo-svg-color">
                    <path d="M841 9645 c-24 -7 -59 -28 -77 -46 -70 -68 -64 266 -62 -3794 l3
                        -3670 23 -42 c33 -62 82 -91 177 -104 51 -6 271 -9 610 -7 l530 3 50 26 c36
                        18 59 39 80 74 l30 48 5 1206 c4 954 8 1211 18 1228 30 53 0 51 959 55 l891 3
                        -13 -30 c-7 -16 -151 -352 -320 -745 -360 -839 -335 -780 -330 -780 2 0 18 26
                        36 58 34 60 50 87 561 972 173 300 359 622 413 715 54 94 164 285 245 425 81
                        140 172 298 202 350 30 52 257 444 503 870 l447 775 -5 370 c-4 261 -10 404
                        -22 485 -62 443 -206 763 -462 1031 -275 286 -601 442 -1083 517 -93 14 -287
                        16 -1735 18 -1365 3 -1637 1 -1674 -11z m3044 -1319 c230 -59 344 -180 398
                        -423 21 -95 22 -116 22 -758 0 -639 -1 -663 -22 -757 -51 -233 -162 -352 -383
                        -414 -60 -17 -126 -19 -839 -22 -699 -3 -776 -1 -798 13 -55 36 -53 -6 -53
                        1183 0 792 3 1108 11 1131 7 18 26 42 43 52 30 19 55 19 791 16 691 -3 766 -5
                        830 -21z"/>
                    <path d="M7300 9238 c-236 -409 -1263 -2188 -1416 -2451 -62 -107 -96 -176
                        -86 -172 168 71 210 75 814 75 316 0 547 -4 594 -11 238 -33 388 -133 458
                        -305 52 -127 59 -191 65 -605 l6 -386 30 -48 c21 -35 45 -56 80 -74 l49 -26
                        581 0 c623 0 624 0 686 52 16 14 40 44 52 67 21 40 22 52 25 411 4 408 -6 588
                        -43 790 -133 717 -577 1193 -1278 1371 -212 54 -334 66 -725 71 -265 4 -362 8
                        -359 17 3 6 136 317 297 691 336 781 380 885 376 885 -2 0 -95 -159 -206 -352z"/>
                    <path d="M5186 5577 c-401 -695 -746 -1293 -998 -1727 l-189 -325 4 -770 c3
                        -735 4 -776 25 -907 25 -156 57 -283 102 -413 209 -596 701 -975 1399 -1080
                        204 -30 455 -37 1229 -32 803 5 858 8 1089 58 467 101 836 339 1075 694 153
                        228 244 480 295 820 15 101 18 190 18 575 0 453 0 455 -22 497 -32 59 -67 88
                        -127 107 -46 15 -119 16 -627 14 -573 -3 -574 -3 -616 -25 -50 -27 -87 -73
                        -102 -128 -7 -25 -11 -156 -11 -345 0 -406 -15 -528 -79 -667 -67 -143 -186
                        -226 -386 -270 -91 -20 -1030 -31 -1188 -14 -263 29 -402 110 -487 285 -80
                        165 -75 4 -75 2238 0 1094 0 1988 0 1988 0 -1 -148 -258 -329 -573z"/>
                </g>
            </svg>
            <small>Главная</small>
        </a>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/products/">Продукты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                {% if user.is_anonymous %}
                    <a href="/users/auth/" class="btn btn-link px-3 me-2">
                        Вход
                    </a>
                    <a href="/users/register/" class="btn btn-primary me-3">
                        Регистрация
                    </a>
                {% else %}
                    <a href="/users/logout/" class="btn btn-link px-3 me-2">Выход</a>
                    <a class="btn btn-primary me-3">{{ user }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{#<header class="p-3 bg-btn-color">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-6 row text-start">#}
{#                <div class="col navbar-brand"><a href="/" class="nav-link px-2 text-white">#}

{#                    Главная</a></div>#}
{#                <div class="col"><a href="/products/" class="nav-link px-2 text-white">Товары</a></div>#}
{#                <div class="col"><a href="/categories/" class="nav-link px-2 text-white">Категории</a></div>#}
{#                <div class="col"><a href="#" class="nav-link px-2 text-white">FAQ</a></div>#}
{#                <div class="col"><a href="#" class="nav-link px-2 text-white">О нас</a></div>#}
{#            </div>#}
{#            <div class="col-lg-3">#}
{#            </div>#}
{#            <div class="col-lg-3 row text-end">#}
{#                {% if user.is_anonymous %}#}
{#                    <div class="col"><a href="/users/auth/" class="nav-link px-2 text-white">Вход</a></div>#}
{#                {% else %}#}
{#                    <div class="col"><a href="/users/auth/" class="nav-link px-2 text-white">{{ user }}</a></div>#}
{#                    <div class="col"><a href="/users/logout/" class="nav-link px-2 text-white">Выход</a></div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</header>#}
<div class="container-sm">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'style/bootstrap.bundle.min.js' %}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="{% static 'style/mdb.dark.min.css' %}"></script>
<script src="{% static 'style/mdb.min.js' %}"></script>
</body>
</html>