{% extends 'layouts/index.html' %}
{% block content %}
    <div class="container-sm">
        <div class="row mb-3 text-center">
            {% for c in category %}
                <div class="col-md-3 gy-4">
                    <a href="#">
                        <div class="demo-wrap shadow-sm rounded">
                            <img class="demo-bg" src="/media/{{ c.icon }}" alt="">
                            <div class="demo-content text-color h4">{{ c.title }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}