{% extends 'layouts/index.html' %}
{% block content %}
    <div class="row mb-3 text-center">
        {% for c in category %}
            <div class="col-md-3 gy-4">
                <a href="#{{ c.title }}">
                    <div class="demo-wrap shadow-sm rounded">
                        <img class="demo-bg" src="/media/{{ c.icon }}" alt="">
                        <div class="demo-content text-color h4 align-self-center">
                            <div class="demo-text">{{ c.title }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if not user.is_anonymous %}
        <div class="row mb-3 gy-4">
            <a href="/products/create_categories/" class="btn bg-btn-color">Создать новую категорию</a>
        </div>
    {% endif %}
{% endblock %}