{% extends 'layouts/index.html' %}


{% block content %}
    <div class="row mb-3 text-center">
        {% for product in products %}
            <div class="col-md-3 gy-4">
                <div class="card h-100 bg-btn-color text-color">
                    <div class="card-header">
                        <div class="bg-img"></div>
                        <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">Бренд: <b>{{ product.brand }}</b></p>
                        <p class="card-text">Объем видеопамяти: <b>{{ product.memory }} МБ</b></p>
                        <p class="card-text">Тип памяти: <b>{{ product.memory_type }}</b></p>
                        <p class="card-text">Бренд: <b>{{ product.rate }}</b></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-color">Цена: <b>{{ product.price }} сом</b></small>
                        <a class="btn btn-outline-secondary" href="{{ product.id }}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not user.is_anonymous %}
        <div class="row mb-3 gy-4">
            <a href="/products/create_products/" class="btn text-white bg-btn-color">Создать новый продукт</a>
        </div>
    {% endif %}
{% endblock %}